* {box-sizing: border-box;}
body{margin: 0;}
div.search {padding: 00px 0}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 10px;
}
.d7 input {
  width: 250px;
  height: 32px;
  padding-left: 15px;
  border-radius: 42px;
  border: 1px solid #324b4e;
  background: #2b2b2b;
  outline: none;
  position: relative;
  transition: .3s linear;

}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 32px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #989898;
}