<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>毕设Html OrderList</title>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>

		<!-- 搜索框样式 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>

		<!-- list样式 -->
		<link rel="stylesheet" href="css/orderlist.css"/>


		<!-- 后期需要提取css -->
		<style type="text/css">
				html, body {width:100%;height:100%;} /*非常重要的样式让背景图片100%适应整个屏幕*/
			
				.my-navbar {padding:10px 15%;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;background-color: #000;
				}
				.my-navbar a{background:transparent !important;color:#fff !important}
				.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
				.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
				.top-nav {padding:0px 15%;background:#000;
			 }
				
		</style>
	</head>
	<body>

		<!-- html start -->

		<!-- nav导航栏 -->
		<div th:replace="nav"></div>

		<div class="container" style="margin-top: 90px">
				<h1 class="page-big">我的订单</h1>

				<div id="products" class="row list-group" >
						<div class="item  col-xs-4 col-lg-4 list-group-item" >
								<div class="thumbnail">
										<div class="img-size">
											<img class="group list-group-image" src="https://img13.360buyimg.com/n7/jfs/t1/3964/21/3360/633468/5b9973c5E1c5c0918/e69c15e4ff1863ec.png" alt="" />
										</div>
										<div class="caption">
												<h4 class="group inner list-group-item-heading">
														Apple 苹果 iPhone Xs 64GB 全网通4G手机</h4>
												<p class="group inner list-group-item-text">
														订单创建日期：2019-3-24 16:07:31</p>
												<p class="group inner list-group-item-text">
																		实付款：$6888.000</p>
												<a class="btn btn-success" target="_blank" href="orderdetail.html">查看详情</a>
												
										</div>
								</div>
						</div>
				</div>

				<div id="products" class="row list-group" >
						<div class="item  col-xs-4 col-lg-4 list-group-item" >
								<div class="thumbnail">
										<div class="img-size">
											<img class="group list-group-image" src="https://img13.360buyimg.com/n7/jfs/t1/3964/21/3360/633468/5b9973c5E1c5c0918/e69c15e4ff1863ec.png" alt="" />
										</div>
										<div class="caption">
												<h4 class="group inner list-group-item-heading">
														Apple 苹果 iPhone Xs 64GB 全网通4G手机</h4>
												<p class="group inner list-group-item-text">
														订单创建日期：2019-3-24 16:07:31</p>
												<p class="group inner list-group-item-text">
																		实付款：$6888.000</p>
												<a class="btn btn-success" href="http://www.jquery2dotnet.com">查看详情</a>
												
										</div>
								</div>
						</div>
				</div>

				<div id="products" class="row list-group" >
						<div class="item  col-xs-4 col-lg-4 list-group-item" >
								<div class="thumbnail">
										<div class="img-size">
											<img class="group list-group-image" src="https://img13.360buyimg.com/n7/jfs/t1/3964/21/3360/633468/5b9973c5E1c5c0918/e69c15e4ff1863ec.png" alt="" />
										</div>
										<div class="caption">
												<h4 class="group inner list-group-item-heading">
														Apple 苹果 iPhone Xs 64GB 全网通4G手机</h4>
												<p class="group inner list-group-item-text">
														订单创建日期：2019-3-24 16:07:31</p>
												<p class="group inner list-group-item-text">
																		实付款：$6888.000</p>
												<a class="btn btn-success" href="http://www.jquery2dotnet.com">查看详情</a>
												
										</div>
								</div>
						</div>
				</div>

				<div id="products" class="row list-group" >
						<div class="item  col-xs-4 col-lg-4 list-group-item" >
								<div class="thumbnail">
										<div class="img-size">
											<img class="group list-group-image" src="https://img13.360buyimg.com/n7/jfs/t1/3964/21/3360/633468/5b9973c5E1c5c0918/e69c15e4ff1863ec.png" alt="" />
										</div>
										<div class="caption">
												<h4 class="group inner list-group-item-heading">
														Apple 苹果 iPhone Xs 64GB 全网通4G手机</h4>
												<p class="group inner list-group-item-text">
														订单创建日期：2019-3-24 16:07:31</p>
												<p class="group inner list-group-item-text">
																		实付款：$6888.000</p>
												<a class="btn btn-success" href="http://www.jquery2dotnet.com">查看详情</a>
												
										</div>
								</div>
						</div>
				</div>


		</div>


		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

		<!-- nav导航栏下拉变化结果 -->
		<script>
				$(window).scroll(function () {
						if ($(".navbar").offset().top > 50) {$(".navbar-fixed-top").addClass("top-nav");
						}else {$(".navbar-fixed-top").removeClass("top-nav");}
				})
		</script>

	</body>
</html>